$info: #0dcaf0;
$danger: #dc3545;
$primary: #0d6efd;
$success: #20a929;
$warning: #ffa30f;

$primaryColor: 227 63 109;
$primaryColor2: 230 20 40;
$secondaryColor: 93 127 250;
$secondaryColor2: 156 66 247;
$borderDark: #b1b1b1;
$bodyColor: #211D0F;